@font-face {
	font-family: "Asap, bold";
	src: url(../fonts/Asap/Asap-Bold.ttf);
}

@font-face {
	font-family: "Asap, regular";
	src: url(../fonts/Asap/Asap-Regular.ttf);
}

@font-face {
	font-family: "Karla";
	src: url("../fonts/Karla/Karla-VariableFont_wght.ttf");
}

/* Personalisation du header */

.navbar {
	background-color: #000000;
	font-family: "Asap, bold";
	font-size: 20px;
	font-weight: bold;
}

.navbar img {
	height: 40px;
}

.navbar .btn-outline-secondary {
	font-size: 18px;
}

/* Personnalisation du Footer */

footer {
	font-family: "Asap, regular";
	background-color: #000000;
}

footer .nav-link {
	color: #ffffff;
	font-weight: normal;
}

/* Personnalisation du main */

main {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Karla";
}

main .container {
	background-color: #ffffffda;
}

main a {
	color: #000000;
	font-weight: bold;
}

main a:hover {
	color: #000000;
}

main h2 {
	font-size: 45px;
	font-weight: 600;
}

main p {
	font-size: 22px;
}

#fil {
  overflow: scroll;
  overflow-x: hidden;
	height: 20em;
}
